---
title: Recipes
---
<!-- full listing that I am removing-->
<!--
<h2>Recipes</h2>

<ul>
  {% for recipe in site.recipes %}
  {%unless recipe.tags contains 'draft'%}
    <li>
        <a href="{{ recipe.url | relative_url }}">{{ recipe.title }}</a>
    </li>
  {%endunless%}
  {% endfor %}
</ul>
-->
<!-- listing the recipes by tag-->

<h1>All Recipes by Category</h1>
<!--{% assign tags =  site.recipes | map: 'tags' | join: ','  | split: ',' | uniq %}-->
<ul>
{% assign arry = "entree, side, dessert, sugarfree, snack, drink" | split: ", " %}
{% for tag in arry %}
  {%unless tag == 'draft' or tag == 'family' or tag == 'sugarfree' or tag == 'tp' or tag == 'hello-fresh'%}
    <h3>{{ tag | capitalize }}</h3>
  <ul>
    {% for recipe in site.recipes %}
      {% if recipe.tags contains tag %}
        {%unless recipe.tags contains 'draft'%}
        <li><a href="{{ recipe.url | relative_url }}">{{ recipe.title }}</a></li>
        {%endunless%}
      {% endif %}
    {% endfor %}
  </ul>
  {% endunless %}
{% endfor %}
</ul>