---
layout: default
---
<h1>{{ page.title }}</h1>

{% if page.description != nil  %}
<h4><!--<span style="font-weight:bold">Description:</span>--> {{ page.description }}</h4>
{% endif %}

{% if page.yield != nil  %}
<h4><span style="font-weight:bold">Yield:</span> {{ page.yield }}</h4>
{% endif %}

{% if page.source contains 'http'%}
<h4><span style="font-weight:bold">Source:</span> <a href="{{ page.source }}">Link</a></h4>
{% elsif page.source != nil  %}
<h4><span style="font-weight:bold">Source:</span> {{ page.source }}</h4>
{% endif %}

<div class="ingredients">
    <h2>Ingredients</h2>
    <ul>
            {% for ingredient in page.ingredients %}
            <li>
                {{ingredient}}
            </li>
            {% endfor %}
    </ul>
</div>
<div class="instructions">
    <h2>Instructions</h2>
    <ol>
            {% for step in page.instructions %}
            <li>
                {{step}}
            </li>
            {% endfor %}
    </ol>
</div>
{%if page.tags contains 'family'%}
<h5>Back to <a href="{{ '/recipebook.html' | relative_url}}"> Knight Family Cook Book </a></h5>
{%endif%}
{%if page.tags contains 'tp'%}
<h5>Back to <a href="{{ '/tp.html' | relative_url}}"> Travis & Phil's Favorites </a></h5>
{%endif%}
<h6>Tags: {{ page.tags | array_to_sentence_string }} </h6>
<br>
<h6>Something wrong? Send feedback <a href="mailto:phil.knight.93+RecipeSite@gmail.com?subject=Recipe Feedback: {{page.title}}">here</a></h6>